.flex.flex-align-center.flex-justify-center.full-width.about
    .text-block
        h1.title.full-width.text-center.mb-15 Hi! My name is 
            span.title.color-primary Jaroslav
        h2.subtitle.text-center.mb-15 And  i full stack developer
            br
            span.color-primary.ml-25.text-bracket(data-keywords="Frontend, Backend, Design")
        h4.text-center.full-width I’ve been a web developer since 2015. For the last 3 years, I specialized in front-end and single page application development and last 2+ years I work mostly in React projects.My passion is building a high quality apps, always studying something new