h2.section-title.color-white(data-before="(", data-after=")") Lates work

.flex.flex-align-start.flex-justify-center.hide.animated(data-animate="slideInDown", data-start="scroll")
    .examples.flex.flex-align-start.flex-justify-center
    .device-list
        .example-item
            .device-wrapper
                .desktop.device-shadow
                    .monitor.lazy-load(realbg="ng_desktop")
                .mobile.device-shadow
                    .monitor.lazy-load(realbg="ng_mobile")
            .example-content
                strong
                    a.snake.card-label(href="https://normalgame.net") NormalGame
                .platform-list
                    strong Platform:
                        span  Web
                p.card-description Lorem ipsum dolor sit amet consectetur adipisicing elit.
        .example-item
            .device-wrapper
                .desktop.device-shadow
                    .monitor.lazy-load(realbg="gw_list")
            .example-content
                a.snake.card-label(href="https://github.com/Jaroslav-Lesiv/goodWorker")
                    strong GoodWorker (Desktop App)
                .platform-list
                    strong Platform:
                        span  Web, Linux, Windows, MacOS
                p.card-description Simple time tracking app for Windows, Mac, and Linux which helps you to control your time, increase productivity, monitor your team performance. 
        .example-item
            .device-wrapper 
                .mobile.device-shadow
                    .monitor.lazy-load(realbg="cam_list")
                .mobile.device-shadow
                    .monitor.lazy-load(realbg="cam_coin")
                .mobile.device-shadow
                    .monitor.lazy-load(realbg="cam_news")
            .example-content
                strong
                    a.snake.card-label(href="https://play.google.com/store/apps/details?id=com.codingchipmunks.cryptarena") CryptArena (Mobile App)
                .platform-list
                    strong Platform:
                        span  Android IOS
                p.card-description CryptArena - is a Price Ticker + Coin Market Capitalization and offers complete cryptocurrency management, with easy to use tools to keep track of all your cryptocurrency investments and understand the market cap of each cryptocoin. 
        .example-item
            .device-wrapper
                .desktop.device-shadow
                    .monitor.lazy-load(realbg="jlm_desktop")
                .mobile.device-shadow
                    .monitor.lazy-load(realbg="jlm_mobile")
            .example-content
                strong
                    a.snake.card-label(href="http://just-label.me") JustLabelMe
                .platform-list
                    strong Platform:
                        span  Web
                p.card-description With JustLabelMe service, you’ll save a lot of time because you can print perfectly onto 4”x6” sticker labels, peel them and place them right on the package!
        .example-item
            .device-wrapper
                .desktop.device-shadow
                    .monitor.lazy-load(realbg="nomis_desktop")
                .mobile.device-shadow
                    .monitor.lazy-load(realbg="nomis_mobile")
            .example-content
                strong
                    a.snake.card-label(href="http://nomis.com.ua") Nomis
                .platform-list
                    strong Platform:
                        span  Web
                p.card-description The NOMIS analytics service helps you understand how decent and solvent your potential or current supplier, buyer, or competitor is.
        .example-item
            .device-wrapper
                .desktop.device-shadow
                    .monitor.lazy-load(realbg="jlme_desktop")
            .example-content
                strong 
                    a.snake.card-label(href="https://normalgame.net") JustLabelMe (Browser Extension)
                .platform-list
                    strong Platform:
                        span  Web
                p.card-description Provides the ability to transform & print FBA shipping and product labels while you are on Amazon Seller Central with a single click