footer.footer.bg-primary
    div.LI-profile-badge(data-version="v1" ,data-size="medium", data-locale="ru_RU", data-type="vertical", data-theme="dark" ,data-vanity="jaroslav-webdeva")
        a.LI-simple-link(href='https://ua.linkedin.com/in/jaroslav-webdeva?trk=profile-badge') Ярослав Лесів
