.flex.flex-align-center.flex-justify-center.full-width.home
    .flex.flex-justify-sb.flex-align-center.full-width.mb-30
        span.color-primary.text-bracket(data-keywords="Frontend, React JS, Vue JS, Angular, Swift, React Native, Electron")
        span.color-primary.text-bracket(data-keywords="Backend, Node JS, Express, Koa, MongoDB, MySql, Redis, Postgres")
    .text-block
        h2.subtitle.color-white.text-center.mb-15 Looking for a developer who can do everything?
        h3.color-white Congratulations, you just found him
        h4.text-center.full-width.color-white I’ve been a web developer since 2015. For the last 3 years, I specialized in front-end and single page application development and last 2+ years I work mostly in React projects.My passion is building a high quality apps, always studying something new
    .flex.flex-justify-sb.flex-align-center.full-width.mt-30
        span.color-primary.text-bracket(data-keywords="Reliability, Responsiveness, Skillful :), Punctuality, Honest")
        span.color-primary.text-bracket(data-keywords="Github, Bitbucket, Gitlab, Jira, Trello")
        