h2.section-title.color-white(data-before="??", data-after="??") Why Me
.flex.flex-align-center.flex-justify-center.full-width.whyme
    ul.list.flex.question
        li.flex.flex-nowrap.flex-align-center.flex-justify-center
            .flex.flex-align-center.flex-justify-center
                img.question-icon.lazy-load(src="./assets/img/no-image.png", realsrc="checklist", alt="")
            p Созданием сайтов занимаюсь с 2014 года. Более 50+ созданных сайтов. 
                |  Загляните в мое портфолио и обнаружите, что большая часть проектов реализована для заказчиков из США, а они очень требовательны. Не смотря на огромную конкуренцию среди фрилансеров они продолжают доверять мне.

        li.flex.flex-nowrap.flex-align-center.flex-justify-center
            .flex.flex-align-center.flex-justify-center
                img.question-icon.lazy-load(src="./assets/img/no-image.png", realsrc="responsive", alt="")
            p Modern and intuitive design.
                |   Clear and clean, valid code that meets all modern standards.
                |   Adaptive layout - your website will be displayed correctly on all available devices,
                |   from mobile phones to PCs.
        li.flex.flex-nowrap.flex-align-center.flex-justify-center
            .flex.flex-align-center.flex-justify-center
                img.question-icon.lazy-load(src="./assets/img/no-image.png", realsrc="", alt="")
            p After discussing your project and drawing up the TOR, I will sign all the
                |  stages of development and clearly mark the time for each stage. 
                |  You can be sure - the project will be delivered on time, on time.
                |  In case of delay due to my fault - a discount is waiting for you! But I doubt that you are so lucky))

        li.flex.flex-nowrap.flex-align-center.flex-justify-center
            .flex.flex-align-center.flex-justify-center
                img.question-icon.lazy-load(src="./assets/img/no-image.png", realsrc="", alt="")
            p After discussing your project and drawing up the TOR, I will sign all the stages of development and clearly mark the time for each stage. You can be sure - the project will be delivered on time, on time. In case of delay due to my fault - a discount is waiting for you! But I doubt that you are so lucky))


        li.flex.flex-nowrap.flex-align-center.flex-justify-center
            .flex.flex-align-center.flex-justify-center
                img.question-icon.lazy-load(src="./assets/img/no-image.png", realsrc="", alt="")
            p After discussing your project and drawing up the TOR, I will sign all the stages of development and clearly mark the time for each stage. You can be sure - the project will be delivered on time, on time. In case of delay due to my fault - a discount is waiting for you! But I doubt that you are so lucky))

        li.flex.flex-nowrap.flex-align-center.flex-justify-center
            .flex.flex-align-center.flex-justify-center
                img.question-icon.lazy-load(src="./assets/img/no-image.png", realsrc="", alt="")
            p After discussing your project and drawing up the TOR, I will sign all the stages of development and clearly mark the time for each stage. You can be sure - the project will be delivered on time, on time. In case of delay due to my fault - a discount is waiting for you! But I doubt that you are so lucky))

    