.flex.flex-align-center.flex-justify-center.full-width.whyme
    ul.list.flex.question
        li.flex.flex-nowrap.flex-align-center.flex-justify-center
            .flex.flex-align-center.flex-justify-center
                img.circle.question-icon.lazy-load(src="./assets/img/no-image.png", realsrc="", alt="")
            p After discussing your project and drawing up the TOR, I will sign all the stages of development and clearly mark the time for each stage. You can be sure - the project will be delivered on time, on time. In case of delay due to my fault - a discount is waiting for you! But I doubt that you are so lucky))

        li.flex.flex-nowrap.flex-align-center.flex-justify-center
            .flex.flex-align-center.flex-justify-center
                img.circle.question-icon.lazy-load(src="./assets/img/no-image.png", realsrc="", alt="")
            p Современный и интуитивно понятный дизайн. Понятный, чистый, валидный код, соответствующий всем современным стандартам. Адаптивная верстка — ваш сайт будет правильно отображаться на всех доступных устройствах, от мобильных телефонов до ПК.
        li.flex.flex-nowrap.flex-align-center.flex-justify-center
            .flex.flex-align-center.flex-justify-center
                img.circle.question-icon.lazy-load(src="./assets/img/no-image.png", realsrc="", alt="")
            p After discussing your project and drawing up the TOR, I will sign all the stages of development and clearly mark the time for each stage. You can be sure - the project will be delivered on time, on time. In case of delay due to my fault - a discount is waiting for you! But I doubt that you are so lucky))

        li.flex.flex-nowrap.flex-align-center.flex-justify-center
            .flex.flex-align-center.flex-justify-center
                img.circle.question-icon.lazy-load(src="./assets/img/no-image.png", realsrc="", alt="")
            p After discussing your project and drawing up the TOR, I will sign all the stages of development and clearly mark the time for each stage. You can be sure - the project will be delivered on time, on time. In case of delay due to my fault - a discount is waiting for you! But I doubt that you are so lucky))


    