
h2.section-title.color-white(data-before="↓↓", data-after="↓↓") Employment history and Education
.flex.flex-align-center.flex-justify-center.full-width
    ul.list.flex.blog-content.flex-align-start.mt-25
        li.flex.flex-nowrap.flex-align-center
            div
                h4.color-white <strong>Senior FullStack Developer</strong> at CodingChipmunks, Kherson Ukraine
                h5.color-secondary.mb-15
                    | Jule 2016 - Now
                ul
                    li.color-light.point.mb-15 <strong>Mobile</strong> apps development (<strong>ReactNative<strong>, <strong>Ionic</strong>) 
                    li.color-light.point.mb-15 Wrote <strong>Database</strong> statements and stored procedures.
                    li.color-light.point.mb-15 Effective convertation client requirements into application <strong>UI</strong>/<strong>UX</strong> and <strong>System Requirements</strong>  
                    li.color-light.point.mb-15 Development <strong>PoC</strong>
                    //- li.color-light.point.mb-15 Planning App Stack technologies.
                    li.color-light.point.mb-15  <strong>AI</strong> / <strong>AR</strong> Solutions and development.
                    li.color-light.point.mb-15 Provide effective trobleshotting and remediation for apps.
                    li.color-light.point.mb-15 Followed policies and procedures related to application methods and quality standards at all times.
                    li.color-light.point.mb-15 Teching Junior and Middle developers
                    
        li.flex.flex-nowrap.flex-align-center
            div
                h4.color-white <strong>Middle Full Stack Developer</strong> at CodingChipmunks, Kherson Ukraine
                h5.color-secondary.mb-15
                    | Jule 2015 - June 2016
                ul
                    li.color-light.point.mb-15 Publishing mobile apps to the stores ( <a class="color-primary" href="https://www.apple.com/ios/app-store/">App Store</a> and <a  class="color-primary" href="https://play.google.com/store/apps?hl=ru">Play Market</a> ) 
                    li.color-light.point.mb-15 Desktop apps development based on <strong>Electron</strong> and <strong>NWK</strong>. 
                    li.color-light.point.mb-15 Planned, developed, tested, deployed, and maintained web applications. 
                    li.color-light.point.mb-15 Settings up new projects (<strong>Webpack</strong>, <strong>Gulp</strong>, <strong>Parcel</strong> etc.)
        li.flex.flex-nowrap.flex-align-center
            div
                h4.color-white <strong>Middle Frontend Developer</strong> at CodingChipmunks, Kherson Ukraine
                h5.color-secondary.mb-15
                    | Jule 2015 - June 2016
                ul
                    li.color-light.point.mb-15 Planned, developed, tested, deployed, and maintained web applications. 
                    li.color-light.point.mb-15 Creating styles (<strong>css, sass, stylus</strong>) modules. 
                    li.color-light.point.mb-15 Supporting Web Applications
                    li.color-light.point.mb-15 <strong>Brower Extensions</strong> Developming
                    //- li.color-light.point.mb-15 Learning
        li.flex.flex-nowrap.flex-align-center
            div
                h4.color-white <strong>Master of Computer Science</strong> , National University of Kherson at Ukraine
                h5.color-secondary.mb-15
                    | September 2018 - August 2019
        li.flex.flex-nowrap.flex-align-center
            div
                h4.color-white <strong>Bachelor of Computer Science</strong> , National University of Kherson at Ukraine
                h5.color-secondary.mb-15
                    | September 2014 - June 2018
